@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,400;1,500;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*? ------------------HEADER--------------- */

header {
    width: 100%;
    height: 100px;
    z-index: 1;
    position: fixed;
}

.menu_header {
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}

header nav {
    background-color: rgba(255, 255, 255, 0.754);
}

.logo {
    height: 60px;
    width: auto;
    padding: 0;
    margin: 0 0 0 50px;
    top: 0;
    position: relative;
}

.list_item_header {
    text-decoration: none;
    color: #3F3F3F;
    font-family: Roboto;
    justify-content: center;
    transition: 0.5s;
}

.nav-link:hover {
    color: rgb(0, 226, 8);
}


/*? ------------------- BODY --------------------- */

.carrussel {
    width: 100%;
    height: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /*cubre el ancho o alto */
    background-attachment: fixed;
    /*pone fija la imagen*/
    display: flex;
    justify-content: start;
    /*mueve la caja al centro de la seccion(en horizontal)*/
    align-items: center;
    /*mueve la caja al centro de la seccion(en vertical)*/
    font-size: 40px;
}

.img_carrussel {
    object-fit: cover;
}

.carrussel_content {
    height: 100vh;
    text-align: start;
    display: flex;
    justify-content: start;
    align-items: center;
    left: 10%;
}

.carrussel div h1 {
    color: white;
    font-family: Roboto;
    font-size: 80px;
}

.carrussel section div h1 {
    color: white;
    font-family: Roboto;
}

.carrussel div p {
    color: white;
    font-family: Roboto;
    font-size: 20px;
    margin-bottom: 50px;
}

.carrussel span {
    font-size: 30px;
}

.button {
    background-color: rgb(0, 222, 9);
    font-family: Roboto;
    text-decoration: none;
    padding: 15px 30px 15px 30px;
    margin: 30px 0 15px 0px;
    text-align: center;
    border-radius: 50px;
    color: white;
    font-size: 20px;
}

.button:hover {
    background-color: rgb(25, 237, 32);
    color: white;
}

.whatIsStep {
    width: 100%;
    /* height: 100%; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.whatIsStep img {
    height: 700px;
    width: 500px;
    object-fit: cover;
    padding: 50px;
}

.whatIsStepInfo {
    width: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 50px 0 50px;
}

.whatIsStepInfo h2 {
    display: flex;
    font-family: Roboto;
    font-size: 50px;
}

.whatIsStepInfo p {
    font-family: Roboto;
    font-size: 20px;
    margin-bottom: 50px;
}

.feelThePower {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/1_homeImgs/walkingInMarch.JPG);
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /*cubre el ancho o alto */
    background-attachment: fixed;
    /*pone fija la imagen*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.feelThePower h3 {
    font-family: Roboto;
    font-size: 40px;
    color: white;
}

.feelThePower h1 {
    font-family: Roboto;
    font-size: 100px;
    color: white;
}

.feelThePower p {
    font-family: Roboto;
    font-size: 20px;
    color: white;
    text-align: center;
    margin-bottom: 50px;
}

.gallery_option {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}

.gallery_option img {
    height: 600px;
    width: 560px;
    object-fit: cover;
    padding-top: 10%;
    padding-bottom: 10%;
}

.gallery_option h2 {
    font-family: Roboto;
    font-size: 70px;
    margin-bottom: 50px;
}


/*? ------------------- ABOUT US ------------- */

.aboutUsPrincipal {
    background-image: linear-gradient(rgba(0, 0, 0, 0.162), rgba(0, 0, 0, 0.5)), url("../img/2_aboutUsImgs/miniEcoBottle.JPG");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.aboutUsPrincipal h1 {
    font-family: Roboto;
    font-size: 250px;
    color: white;
}

.aboutUsPrincipal h5 {
    font-family: 'Roboto';
    font-size: 40px;
}

.aboutUsPrincipal p {
    font-family: 'Roboto';
    font-size: 15px;
}

.essence {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.essence_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.essence img {
    height: 150px;
    width: 180px;
    object-fit: cover;
}

.essence h5 {
    font-family: 'Roboto';
    font-size: 30px;
    margin-bottom: 20px;
}

.essence h2 {
    font-family: 'Roboto';
    font-size: 100px;
}

.founders {
    width: 100%;
    text-align: center;
}

.founders h2 {
    font-family: 'Roboto';
    font-size: 100px;
}

.founderNav img {
    height: 280px;
    width: 200px;
    margin: 20px;
    object-fit: cover;
}

.founderNav h5 {
    font-family: 'Roboto';
    font-size: 30px;
}

.founderInfo img {
    height: 30px;
    width: 30px;
    margin: 4px;
    transition: 0.5s;
}

.founderInfo {
    margin-bottom: 30px;
}

.founderInfo img:hover {
    transform: scale(1.1);
}


/*? ------------------ OUR SUCCESS -------------- */

.ourSuccessPrincipal {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 180px 0 0 100px;
    top: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.5)), url("../img/3_ourSuccessImgs/playeraYRecolectado.JPG");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}

.ourSuccessPrincipal h1 {
    font-family: 'Roboto';
    text-align: left;
    font-size: 150px;
    color: white;
}

.successMenu {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.successMenuSection {
    display: flex;
    flex-direction: row;
}

.successMenuSection img {
    width: 70%;
    height: 100vh;
    object-fit: cover;
}

.successMenuText {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: 80px;
    justify-content: center;
    align-items: flex-start;
    font-family: Roboto;
}

.successMenuText h2 {
    font-size: 50px;
    margin-bottom: 50px;
}

.gallery_option2 {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gallery_option2 h2 {
    font-family: Roboto;
    font-size: 80px;
    margin-bottom: 50px;
}


/*? ----------------- OUR GOALS ---------------- */

.ourGoalsPrincipal {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 180px 0 0 100px;
    top: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.5)), url("../img/4_ourGoalsImgs/bigEcoBottle.JPG");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}

.ourGoalsPrincipal h1 {
    font-family: 'Roboto';
    text-align: left;
    font-size: 150px;
    color: white;
}

.goalsMenu {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.goalsMenuSection {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-family: Roboto;
    font-size: 20px;
    padding: 50px;
}

.goalsMenuSection h4 {
    font-size: 40px;
    margin-bottom: 50px;
}

.goalsMenuText {
    margin: 20px;
}


/*? ------------------ GALLERY --------------- */

.galleryPrincipal {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 180px 0 0 0;
    top: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.073), rgba(0, 0, 0, 0.5)), url("../img/5_galleryImgs/stepTalk.JPG");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}

.galleryPrincipal h1 {
    font-family: 'Roboto';
    text-align: center;
    font-size: 150px;
    color: white;
}

.imagesGalleryGrid {
    margin: 20px 0 20px 0;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(7, 200px);
    column-gap: 10px;
    row-gap: 10px;
}

.grid-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item1 {
    grid-row: 1 / 4;
    grid-column: 1 / 3;
    transition: 1s;
}

.item1:hover {
    transform: scale(1.1);
}

.item2 {
    grid-row: 1 / 2;
    grid-column: 3 / 5;
    transition: 1s;
}

.item2:hover {
    transform: scale(1.1);
}

.item3 {
    grid-row: 1 / 3;
    grid-column: 5 / 6;
    transition: 1s;
}

.item3:hover {
    transform: scale(1.1);
}

.item4 {
    grid-column: 3 / 5;
    grid-row: 3 / 4;
    transition: 1s;
}

.item4:hover {
    transform: scale(1.1);
}

.item5 {
    grid-column: 1 / 2;
    grid-row: 4 / 6;
    transition: 1s;
}

.item5:hover {
    transform: scale(1.1);
}

.item6 {
    grid-column: 4 / 6;
    grid-row: 4 / 7;
    transition: 1s;
}

.item6:hover {
    transform: scale(1.1);
}

.item7 {
    grid-column: 1 / 2;
    grid-row: 6 / 8;
    transition: 1s;
}

.item7:hover {
    transform: scale(1.1);
}

.item8 {
    grid-column: 2 / 4;
    grid-row: 5 / 7;
    transition: 1s;
}

.item8:hover {
    transform: scale(1.1);
}

.item9 {
    grid-column: 3 / 5;
    grid-row: 7 / 8;
    transition: 1s;
}

.item9:hover {
    transform: scale(1.1);
}

.itemX {
    transition: 1s;
}

.itemX:hover {
    transform: scale(1.1);
}


/*? ------------------ FOOTER ---------------- */

.footer {
    height: 50vh;
    width: 100%;
    background-color: rgb(28, 28, 28);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.footer h4 {
    color: white;
    font-family: Roboto;
    font-size: 35px;
    margin: 20px;
}

.footer img {
    height: 150px;
    width: 150px;
    object-fit: cover;
}

.footer a {
    text-decoration: none;
    font-family: Roboto;
    color: white;
    font-size: 20px;
    margin: 0 20px 0 0;
    transition: 0.5s;
}

.footer a:hover {
    color: rgb(0, 200, 7);
}

.footerFounders {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footerNetwork {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footerLinks {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.footerLinks img {
    width: 50px;
    height: 50px;
    margin: 0 20px 0 20px;
    transition: 0.5s;
}

.footerLinks img:hover {
    transform: scale(1.1);
}


/*!--------MEDIA QUERIES------- */

@media screen and (max-width: 950px) {
    .carrussel {
        height: 100vh;
    }
    .carrussel_content {
        justify-content: center;
        text-align: center;
    }
    .img_carrussel {
        height: 100vh;
    }
    .whatIsStep {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .whatIsStepInfo {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        text-align: center;
    }
    .carrussel div h1 {
        font-size: 70px;
    }
    .gallery_option {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .gallery_option div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 860px) {
    .successMenuSection {
        /* display: flex; */
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        /* text-align: center; */
    }
    .successMenuSection img {
        margin-bottom: 30px;
    }
    .successMenuText {
        text-align: center;
        align-items: center;
    }
    .rev {
        flex-direction: column-reverse;
    }
}

@media screen and (max-width: 750px) {
    .footer {
        height: 100vh;
        flex-direction: column;
    }
    .ourSuccessPrincipal h1 {
        font-size: 100px;
    }
    .goalsMenuSection {
        flex-direction: column;
        text-align: center;
    }
}

@media screen and (max-width: 650px) {
    .aboutUsPrincipal h1 {
        font-size: 150px;
    }
    .aboutUsPrincipal h5 {
        font-size: 30px;
    }
    .aboutUsPrincipal p {
        margin: 0 10% 0 10%;
    }
    .imagesGalleryGrid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(11, 200px);
    }
    .item1 {
        grid-row: 1 / 3;
        grid-column: 1 / 2;
    }
    .item2 {
        grid-row: 1 / 2;
        grid-column: 2 / 3;
    }
    .itemX1 {
        grid-row: 2 / 3;
        grid-column: 2 / 3;
    }
    .item3 {
        grid-row: 4 / 5;
        grid-column: 1 / 2;
    }
    .itemX2 {
        grid-row: 3 / 4;
        grid-column: 1 / 2;
    }
    .item4 {
        grid-row: 3 / 5;
        grid-column: 2 / 3;
    }
    .item5 {
        grid-row: 5 / 7;
        grid-column: 1 / 2;
    }
    .itemX3 {
        grid-row: 5 / 6;
        grid-column: 2 / 3;
    }
    .itemX4 {
        grid-row: 6 / 7;
        grid-column: 2 / 3;
    }
    .itemX5 {
        grid-row: 7 / 8;
        grid-column: 1 / 2;
    }
    .item6 {
        grid-row: 7 / 9;
        grid-column: 2 / 3;
    }
    .item7 {
        grid-row: 9 / 11;
        grid-column: 1 / 2;
    }
    .item8 {
        grid-row: 8 / 9;
        grid-column: 1 / 2;
    }
    .itemX6 {
        grid-row: 9 / 10;
        grid-column: 2 / 3;
    }
    .item9 {
        grid-row: 11 / 12;
        grid-column: 1 / 3;
    }
    .itemX7 {
        grid-row: 10 / 11;
        grid-column: 2 / 3;
    }
}

@media screen and (max-width: 600px) {
    .gallery_option div {
        margin-bottom: 20%;
    }
    .gallery_option img {
        height: 400px;
        width: 350px;
    }
    .gallery_option h2 {
        font-size: 55px;
    }
}

@media screen and (max-width: 550px) {
    .ourGoalsPrincipal h1 {
        font-size: 100px;
    }
}

@media screen and (max-width: 500px) {
    .ourSuccessPrincipal {
        padding: 180px 0 0 35px;
    }
    .ourSuccessPrincipal h1 {
        font-size: 70px;
    }
    .goalsMenuSection img {
        height: 250px;
        width: 250px;
        object-fit: cover;
    }
    .galleryPrincipal h1 {
        font-size: 70px;
    }
}

@media screen and (max-width: 450px) {
    .carrussel div h1 {
        font-size: 50px;
    }
    .button {
        font-size: 15px;
        padding: 10px 50px 10px 50px;
        /* margin: 30px 0 15px 0px; */
    }
    .whatIsStep img {
        height: 500px;
        width: 350px;
    }
    .whatIsStepInfo h2 {
        font-size: 30px;
    }
    .whatIsStepInfo p {
        font-size: 15px;
        margin: 0 20% 0 20%;
    }
    .aboutUsPrincipal h1 {
        font-size: 100px;
    }
    .aboutUsPrincipal h5 {
        font-size: 20px;
    }
    .aboutUsPrincipal p {
        font-size: 10px;
        margin: 0 10% 0 10%;
    }
    .feelThePower h3 {
        font-size: 30px;
    }
    .feelThePower h1 {
        font-size: 80px;
    }
    .feelThePower p {
        font-size: 15px;
    }
    .essence h2 {
        font-size: 65px;
    }
    .essence h5 {
        font-size: 20px;
    }
    .founders h2 {
        font-size: 65px;
    }
    .founderNav h5 {
        font-size: 25px;
    }
}

@media screen and (max-width: 400px) {
    .ourGoalsPrincipal {
        padding-left: 50px;
    }
    .ourGoalsPrincipal h1 {
        font-size: 80px;
    }
}

@media screen and (max-width: 360px) {
    .successMenuText h2 {
        font-size: 30px;
    }
    .successMenuText p {
        font-size: 15px;
    }
    .gallery_option2 h2 {
        font-size: 50px;
    }
}


/* @media screen {
    
} */